.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 0px;
  text-align: center;
  justify-content: center;
  background-color: rgb(156, 152, 152);
  border: 2px solid black;
  height: 70px;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid black;
}
.search-container h2 {
  
  font-size: 36px;
  margin-right: 40px;
   
   
}

.search-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4547bc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid black;
}
.search-container button:hover {
 
  background-color: #eb121d;
  color: rgb(245, 242, 242);
   
}

.card-list {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #77757a63;
  border: 3px solid black;
}

.card {
  width: 263px;
  padding: 16px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 3px 4px rgb(80 74 74);
  background: #f3f3bb;
  border: 4px solid black;
  border-radius: 12px;
  transition: width 2s, height 2s, transform 2s;
}
.card:hover{
  
  transform: matrix(1, -0.3, 0, 1, 0, 0);
}
.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  margin: 8px 0;
}

.card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
 
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.button-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #a989f5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px  ;
  border: 3px solid black;
}

.button-container button:hover {
  background-color: #3f08c0;
  color: white;
}

.employee-details {
    margin-top: 20px;
    background: #4c44444a;
    border: 3px solid black;
}
.employee-details h2{
 text-align: center;
}
.employee-details hr{
 
 border: 1px solid black;
}

.employee-details .card {
  width:263px;
}